.idea/
out/
target/
serial_naive/
concurrent_naive/
serial_optimized/
concurrent_optimized/
serial_nonoptimized/
concurrent_nonoptimized/
datasets/
/comparator/env/
*.parquet
*.parquet.crc
*.log
*.log.old

